
# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Environment files
.env
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
